.city {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 78px;
  text-align: center;
  color: #000000;
  margin: 0;
}
.weather-icon {
  display: block;
  margin: 0 auto 24px;
}

.middle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
.vertical-line {
  width: 120px;
  height: 0px;
  border: 1px solid #000000;
  transform: rotate(-90deg);
  margin: 24px auto 24px;
}
.temp, .weather-description {
  font-weight: 800;
  font-size: 28px;
  text-align: center;
}
.temp-details{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
.weather-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
}
